@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* header 정렬 */
.headerwrap {
    display: flex;
    justify-content: space-between;
}

.headerbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbtninDetailed {
    width: 380px;
    display: flex;
}

.main {
    color: white;
    position: relative;
}

body {
    width: 100%;
    background-color: black;
}

.txc-textbox {
    width: 800px;
}

.moviesText {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#detailedInfobtn {
    margin-right: 5px;
}

.pw {
    display: none;
}