@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  text-decoration: none;
}

#review-txt {
  width: 500px;
  flex-direction: column;
  margin: 0px 500px 10px 500px;
}

.reviewbtn {
  margin: 0px 680px 0px 680px;
}

#inputBtn {
  margin-right: 5px;
}

#fixBtn {
  margin-right: 3px;
}

.pw {
  margin: 0px 550px 0px 550px;
}

.reviewcontainor {
  text-align: center;
  margin-top: 10px;
}

/* header 정렬 */
.headerwrap {
  display: flex;
  justify-content: space-between;
}

.headerbox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbtninDetailed {
  width: 380px;
  display: flex;
}

.main {
  color: white;
  position: relative;
}

body {
  width: 100%;
  background-color: black;
}

.txc-textbox {
  width: 800px;
}

.moviesText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#detailedInfobtn {
  margin-right: 5px;
}